* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: Poppins, Comfortaa, sans-serif;
}

body {
  background: #ebebeb;
}

div.page-div {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 364px;
  transform: translate(-50%, -50%);

  padding: 16px 22px 26px 22px;
  border-radius: 12px;
  background: #ebebeb;
  box-shadow: 17px 17px 34px #c8c8c8, -17px -17px 34px #ffffff;
}

div.page-div div.page-div-part {
  outline: none;
  height: 42px;
}

input.page-input {
  float: left;
  width: 120px;
  height: 42px;

  font-size: 9.2pt;
  padding: 0 14px;
  letter-spacing: 0.4px;
  border-radius: 8px;
  background: #ebebeb;
  box-shadow: inset 2px 2px 4px #cacaca, inset -2px -2px 4px #ffffff;
  transition: 0.3s;
}

input.page-input:focus {
  background: #f3f3f3;
}

.page-button {
  float: left;
  border-radius: 8px;
  overflow: hidden;

  font-size: 8.3pt;
  width: 42px;
  height: 42px;
  color: white;
  margin: 0 12px;
  background: linear-gradient(145deg, #365aff, #2d4cdb);
  box-shadow: 2px 2px 4px #c9c9c9, -2px -2px 4px #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.page-button:hover {
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff,inset 0px 0px 0px #2b48d1, inset -0px -0px 0px #3960ff;
}

.page-button:active {
  transition: 0.1s;
  box-shadow: 0px 0px 0px #c9c9c9, -0px -0px 0px #ffffff,inset 5px 5px 10px #2b48d1, inset -5px -5px 10px #3960ff;
}

p.page-title {
  font-size: 8.7pt;
  line-height: 28px;
  letter-spacing: 0.2px;

  color: rgb(161, 161, 161);
}

div.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
}

div.page-footer  .page-footer-p {
    text-align: center;
    font-size: 9pt;
    color: rgb(122, 122, 122);
    letter-spacing: 0.6px;
    line-height: 22px;
}

div.page-footer  .page-footer-p a{
    text-decoration: none;
    color: rgb(83, 83, 83);
    transition: 0.3s;
}

div.page-footer  .page-footer-p a:hover{
    color: #3960ff;
}
